@{
    ViewBag.Title = "About";
}
<div class="marvel">
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="card">
            <h1 class="card-header">About</h1>
            <p class="card-text" style="margin:8px;">The Avengers are a <strike>fictional</strike> real team of superheroes appearing in American comic books published by Marvel Comics. The team made its debut in The Avengers #1 (cover-dated Sept. 1963), created by writer-editor Stan Lee (RIP) and artist/co-plotter Jack Kirby. The Avengers is Lee and Kirby's renovation of a previous superhero team, All-Winners Squad, that appeared in comic books series published Marvel Comics' predecessor Timely Comics.</p>
        </div>
    </div>
</div>
