@{
    ViewBag.Title = "Contact";
}

<!--The contact view will have basic company information, such as phone number and email. The view will also have a contact form that
    will have
    fields for the user’s name, email, subject(choose from a list), and message body.
There will need to be a submit button at the bottom of the contact form. This button however, won’t do anything with the data yet.
    For now it will just clear the text in the form.-->

<div class="row justify-content-center" style="margin-top:5px;">
    <div class="col-8">
        <div class="card">
            <h3 class="card-header">Contact Information</h3>
            <div class="card-body">
                <h5 class="font-weight-bold">Address</h5>
                <p class="card-text">890 Fifth Avenue, Manhattan, New York City.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Phone:</strong> (123)-456-7890</li>
                <li class="list-group-item"><strong>Email:</strong> Avengers@Hotmail.com</li>
            </ul>
        </div>
    </div>
</div>