@model Project_1.Models.Character

@{
    ViewBag.Title = "CreateCharacter";
}
<div class="row justify-content-center">
    <div class="col-7">
        <div class="card" style="margin-top: 10px;">
            @using (Html.BeginForm("CreateCharacter", "Home", FormMethod.Post))
            {
                
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-6">
                        <h3>Create a New Character!</h3>
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" name="Name" id="Name" placeholder="Name">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-6">
                        <label for="Description">Description</label>
                        <textarea class="form-control" id="Description" name="Description" rows="3" placeholder="Character Description"></textarea>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-6">
                        <label for="Thumbnail.Path">Character Image</label>
                        <input type="text" class="form-control" id="Thumbnail.Path" name="Thumbnail.Path" placeholder="URL to character image">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Create Character</button>
                </div>
            }
        </div>
    </div>
</div>

