@using Project_1.Models;
@using RestSharp;
@model Character

@{
    ViewBag.Title = "SearchCharacter";
}

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card buffer" style="padding: 10px;">
                <div class="row justify-content-center">
                    @if (Model != null)
                    {
                        <div class="col-6">
                            <div class="card">
                                <img class="card-img-top" src=@(Model.Thumbnail.Path + ".jpg") style="height: 200px;" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">@Model.Name</p>
                                </div>
                            </div>
                            <div class="row buffer">
                                <a type="button" href="@Url.Action("AddCharacter", "Home", new { id = Model.Id })" class="btn btn-success">Success</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-6">
                            <div class="alert alert-warning" role="alert">
                                The character could not be found
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    
<div class="row buffer">
    @using (Html.BeginForm("SearchCharacter", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search.." name="characterName">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    }
</div>

