.buffer {
    padding-top:10px;
}

.jumbotronImage {
    background-image: url("Images/avengers-artwork.jpg");
    background-attachment:inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.marvel {
    background-image: url("Images/marvelBackground2.jpg");
}